n8n/workflows/multi_channel_post.json
{
  "name": "Multi-Channel Post",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "multi-post",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 400],
      "webhookId": "multi-post"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.body.channel }}",
        "rules": {
          "rules": [
            { "value2": "twitter", "output": 0 },
            { "value2": "reddit", "output": 1 },
            { "value2": "linkedin", "output": 2 },
            { "value2": "indie_hackers", "output": 3 }
          ]
        },
        "fallbackOutput": 4
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000002",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [460, 400]
    },
    {
      "parameters": {
        "text": "={{ $('Webhook').item.json.body.content }}",
        "additionalFields": {}
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000003",
      "name": "Twitter",
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 1,
      "position": [680, 200],
      "credentials": {
        "twitterOAuth1Api": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Twitter account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "submit",
        "subreddit": "={{ $('Webhook').item.json.body.subreddit || 'SaaS' }}",
        "kind": "self",
        "title": "={{ $('Webhook').item.json.body.title || $('Webhook').item.json.body.content.split('\\n')[0] }}",
        "text": "={{ $('Webhook').item.json.body.content }}",
        "additionalFields": {}
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000004",
      "name": "Reddit",
      "type": "n8n-nodes-base.reddit",
      "typeVersion": 1,
      "position": [680, 400],
      "credentials": {
        "redditOAuth2Api": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Reddit account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "text": "={{ $('Webhook').item.json.body.content }}",
        "additionalFields": {}
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000005",
      "name": "LinkedIn",
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [680, 600],
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "LinkedIn account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "functionCode": "const input = $input.first().json;\nconst webhook = $('Webhook').item.json.body;\nconst channel = webhook.channel;\n\n// Check if the social node errored (continueOnFail sets error flag)\nif (input.error) {\n  return [{\n    json: {\n      success: false,\n      channel: channel,\n      hypothesis_id: webhook.hypothesis_id,\n      variant: webhook.variant,\n      error: input.error.message || JSON.stringify(input.error),\n      retry_hint: 'Check credentials and workflow activation in n8n UI'\n    }\n  }];\n}\n\n// Success — build post_url from platform response\nlet post_url = '';\nif (input.id_str) {\n  post_url = 'https://twitter.com/i/web/status/' + input.id_str;\n} else if (input.permalink) {\n  post_url = 'https://reddit.com' + input.permalink;\n} else if (input.id) {\n  post_url = input.id;  // LinkedIn returns post URN\n}\n\nreturn [{\n  json: {\n    success: true,\n    channel: channel,\n    hypothesis_id: webhook.hypothesis_id,\n    variant: webhook.variant,\n    post_url: post_url\n  }\n}];"
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000009",
      "name": "Check Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [900, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}"
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000007",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, channel: 'indie_hackers', hypothesis_id: $('Webhook').item.json.body.hypothesis_id, variant: $('Webhook').item.json.body.variant, manual: true, post_url: 'https://www.indiehackers.com/post/new', message: 'Indie Hackers has no API. Post manually.', content_preview: $('Webhook').item.json.body.content.substring(0, 200) }) }}"
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000008",
      "name": "Indie Hackers Manual",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 800]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: 'Unknown channel: ' + $('Webhook').item.json.body.channel, supported_channels: ['twitter', 'reddit', 'linkedin', 'indie_hackers'] }) }}"
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000006",
      "name": "Unknown Channel",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 1000]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          { "node": "Switch", "type": "main", "index": 0 }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          { "node": "Twitter", "type": "main", "index": 0 }
        ],
        [
          { "node": "Reddit", "type": "main", "index": 0 }
        ],
        [
          { "node": "LinkedIn", "type": "main", "index": 0 }
        ],
        [
          { "node": "Indie Hackers Manual", "type": "main", "index": 0 }
        ],
        [
          { "node": "Unknown Channel", "type": "main", "index": 0 }
        ]
      ]
    },
    "Twitter": {
      "main": [
        [
          { "node": "Check Result", "type": "main", "index": 0 }
        ]
      ]
    },
    "Reddit": {
      "main": [
        [
          { "node": "Check Result", "type": "main", "index": 0 }
        ]
      ]
    },
    "LinkedIn": {
      "main": [
        [
          { "node": "Check Result", "type": "main", "index": 0 }
        ]
      ]
    },
    "Check Result": {
      "main": [
        [
          { "node": "Respond to Webhook", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "pipeline-factory"
  },
  "id": "multi-channel-post-workflow",
  "tags": ["social-media", "multi-channel", "pipeline-factory"],
  "notes": "Multi-channel posting with error handling. Social nodes use continueOnFail — errors are caught by Check Result and returned as JSON. Indie Hackers returns manual posting instructions. Supported: twitter, reddit, linkedin, indie_hackers."
}
