_legacy/n8n/n8n/workflows/twitter_post.json
{
  "name": "Twitter Post",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "twitter-post",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "twitter-post"
    },
    {
      "parameters": {
        "text": "={{ $json.body.text }}",
        "additionalFields": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000002",
      "name": "Twitter",
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 1,
      "position": [460, 300],
      "credentials": {
        "twitterOAuth1Api": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Twitter account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, hypothesis_id: $('Webhook').item.json.body.hypothesis_id, variant: $('Webhook').item.json.body.variant, tweet_id: $json.id_str, tweet_url: 'https://twitter.com/i/web/status/' + $json.id_str }) }}"
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000003",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Twitter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Twitter": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "pipeline-factory"
  },
  "id": "twitter-post-workflow",
  "tags": ["social-media", "twitter", "pipeline-factory"],
  "notes": "Receives: { text, hypothesis_id, variant }. Credentials: configure Twitter OAuth in n8n UI under Credentials > Twitter OAuth1 API."
}
